.imgPreviewCol {
    // display: flex;
    // flex-flow: column nowrap;
    // align-items: flex-start;
    // width: 10rem;
    // height: 10rem;
    // overflow: hidden;
    
}

.imgPrev {
    width: 10rem;
    position: relative;
top: 0; left:0;
}

