@import '../root.scss';

.wrapper {
    height: 70vh;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;

    button {
        margin: 1rem 0;
        padding: 0.9rem 1.5rem;
        font-size: $sml-font-size;
        color: white;
        background: linear-gradient(
          58deg,
          rgba(0, 145, 255, 1) 22%,
          rgba(48, 213, 255, 1) 80%,
          rgba(169, 248, 255, 1) 100%
        );
        border-radius: 8px;
        border: none;
     }
    
}

