@import "../root.scss";

.notDisplayed {
  display: none
}
.searchContainer {
 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  padding-left: 6vw;
  min-height: 90vh;
}

.resultList{
    flex: 2 1;
    max-width: 1000px;

}

.placeholderWrapper {
    position: relative; // always necessary to prevent bugs when using absolute on child
    top: 0;
    left: 0;
  flex: 1;
}

.sideMapContainer {
  height: calc(100vh - 75px);
  position: fixed;
  bottom: 0;
  right: 0;
}

.showMap,
.fullMapContainer {
  display: none;
  z-index: 2;
}
.closeIcon {
  width: 1rem;
}

.markerClickAnimation {
  animation: blinking 1.2s ease-in-out;
  
}

@keyframes blinking {
    0%, 50%, 100% {background-color: initial}
    25%, 75% {background-color: #9999993a;}

}

@media screen and (max-width: 1200px) {
  .resultList {
    max-width: 850px;
  }
  .placeholderWrapper {
    display: none;
  }
  .mapIcon {
    width: 1.8rem;
    margin-bottom: 0.3rem;
  }
  .showMap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 1.5rem 0.8rem;
    background: linear-gradient(
      58deg,
      rgba(0, 145, 255, 1) 22%,
      rgba(48, 213, 255, 1) 80%,
      rgba(169, 248, 255, 1) 100%
    );
    color: white;
    font-size: $sml-font-size;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
    outline: none;
  }

  .showMap:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .fullMapContainer {
    display: flex;
    position: fixed;
    top: 4.2rem;
    left: 0;
    width: 99vw;
    height: calc(100vh - 4.2rem);
    z-index: 100;
  }
  .mapClose {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dddddd;
    transition: box-shadow 0.2s ease;
    padding: 0.6rem 0.65rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
}

@media screen and (max-width: 680px) {
  .searchContainer {
    justify-content: center;
  }
}
