@import '../root.scss';
.wrapper {
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    padding: 4rem 3rem;
}
.navBar {
display: flex;
width: 50%;
align-items: center;
justify-content: space-between;

}


.btnClose {
    color: $tertiary-text;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    transition: box-shadow 0.2s ease;
    padding: 0.4rem 1rem;
    margin: 1rem;
    font-size: $sml-font-size;
}
.btnClose:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.btnNav {
    color: $tertiary-text;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    transition: box-shadow 0.2s ease;
    padding: 0.7rem 1rem;
    margin: 1rem;
    font-size: $sml-font-size; 
    position: absolute;
    top: 50%;
}
.btnNav:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.prev {
   
    left: 5%;
}

.next {
    right: 5%;}

.imgSlideshow {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    img {
        width: auto;
        height: 50vh;
        animation-name: fade;
        animation-duration: 1s;

    }
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }