@import "../root.scss";

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.desktop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px 6vw;
}

.logo {
  width: 2.7rem;
  margin-right: 1rem;
}

.title {
  font-size: 1.8rem;
  font-family: "Tommy-soft-medium";
  color: $primary-text;
  white-space: nowrap;
}

span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btnRow {
  display: flex;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-size: $sml-font-size;
  cursor: pointer;
  white-space: nowrap;
  margin: 0.5rem;
  border-radius: 60px;
  border: none;
}

.A {
  color: $secondary-text;
  background-color: white;
  border-radius: 60px;
  border: none;
  box-shadow: 0px 0px 6px rgba(22, 145, 39, 0.24);
  transition: box-shadow 0.2s ease;
  .btnIcon {
    padding-right: 0.3rem;
  }
 &:hover {
      box-shadow: 0px 0px 3px rgba(22, 145, 38, 0.527);
      
  }
}

.B {
  background-color: $primary-text;
  color: white;
  
}

.C {
    background-color: transparent;
    font-size: $med-font-size;
    margin: 0.7rem 0.5rem;
    padding: 0;
}
.mobile {
  display: none;
}

.overlayMenu {
    display: none;
}

/*** Search Bar **/
.searchBarWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
}

.searchBar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
    background-color: white;
    border: 1px solid #dddddd;
    margin: 0.5rem 1rem;
    
}

.fieldContainer {
    display: flex;
    padding: 0.6rem 1.2rem;
    flex-basis: 0%;
    flex-grow: 1;
}

.first {
border-top-left-radius: 21px;
border-bottom-left-radius: 21px;
border-right: 1px solid #dddddd;
align-items: center;
}

.second {
padding-right: 0.5rem;
justify-content: space-between;
    }



.fieldTitle {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: "Quicksand-Bold";
    
}
.fieldInput, .selectedInput {
    border: none;
    width: 100%;
    outline: none;
    padding: 0.2rem 0;
    font-size: $sml-font-size;
}

.selectedInput {
    cursor: pointer;
    option {
        font-size: $sml-font-size;
    }
}


.fieldInput::placeholder {
    color: #8f8f8f;
    font-family: $text-med;
}


.submitContainer {
    padding: 0.5rem;
    background: linear-gradient(56deg, rgba(0,145,255,1) 22%, rgba(48,213,255,1) 80%, rgba(169,248,255,1)100%);

}

.searchIcon {
    height: auto;
    width: 1.3rem;
    padding: 0;
    background-color: transparent;
    border: none;
}


@media (max-width: 700px) {
  .title {
    display: none;
  }
}

@media (max-width: 550px) {
  // Mobile version
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    // height: 10rem;
    padding: 0.6rem 6vw;
    align-items: center;
    justify-content: space-between;
  }

  .mobTitle {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    img {
      height: 2rem;
      margin-right: 0.3rem;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: -0.2px;
      font-family: $text-bold;
      color: $primary-text;
    }
  }

  .menuIcon,
  .mobSearchIcon {
    // removes btn predefined styling
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    width: 1.5rem;
    margin: 0 0.5rem;
    
  }

  .mobMenuWrapper {
  }

  .overlayMenu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #00000066;
    overflow: hidden;

  }
  .visible {
width: 100vw;
  }
  .menuBox {
    background-color: white;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: all 0.25s ease 0.15s;
    
    display: flex;
    flex-flow: column nowrap;
    // align-items: stretch;
  }

  .boxVisible {
    width: 75vw;
    padding: 1rem 0.5rem;

  }

  .mobCloseBtn {
      align-self: flex-end;
      button {
          width: 2rem;
          background-color: transparent;
          border: none;
          img {
              width: 100%;
          }
      }
  }

  .highlightBtn {
    margin: 1rem 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    button {
        justify-content: center;
        font-size: $med-font-size;
        width: 80%
    }
  }

  .optLinks {
      align-self: stretch;
      display: flex;
      flex-flow: column;
      border-bottom: 1px solid rgb(207, 207, 207);
      padding-bottom: 1rem;
  }
}
