.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 6.1rem;
    // border-bottom: 1px solid rgb(230, 230, 230);
    box-shadow: 1px 1px 6px rgb(235, 235, 235);

}
.myHeader {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s ease;
    background-color: white;
    display: flex;
    justify-content: center;
    & > :first-child {
        max-width: 1500px;

    }

}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px #00000025;

}