$primary-text: rgb(0,145,255);
$secondary-text: rgb(30, 227, 82);
$tertiary-text: rgb(34,34,34);

$big-font-size: 2.3rem;
$medbig-font-size: 2rem;
$med-font-size: 1.2rem;
$sml-font-size: 1rem;
$tiny-font-size: 0.8rem;

$text-bold: 'Quicksand-SemiBold';
$text-med: 'Quicksand-Medium';
$text-light: "Quicksand";
$large-gutter: 6vw;
$small-gutter: 2vw;

$easy-rating: rgb(0, 176, 80);
$medium-rating:rgb(255, 192, 0);
$hard-rating:rgb(0,112,192);

// For google translate styling
font {
    font-size: inherit;
    font-family: inherit;
    color: inherit
}

h1, h2 {
    font-family: "Tommy-soft-medium";
    color: $primary-text;
    font-size:$big-font-size;
    letter-spacing: -0.03rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;

}

h2 {
font-size: $medbig-font-size;
}
h3, h4, h5 {
    letter-spacing: 0.01rem;

}

h3 {
    font-size: $med-font-size;
    font-family: $text-med;
    color: rgb(34,34,34);
}
h4 {
    font-size: $sml-font-size;
    font-family: $text-light;
    color: rgb(64, 64, 64);
}

h5 {
    font-size: $sml-font-size;
    font-family: $text-bold;
    color: $primary-text;
}
p {
    font-size: $sml-font-size;
    font-family: $text-med;
    letter-spacing: 0.01rem;
}
.subtitle {
    font-size: $med-font-size;
    margin: 1rem 0;
}

.easy {
    color: $easy-rating;
    
}
.medium {
    color:  $medium-rating;
}
.hard {
    color: $hard-rating;
}

.ratingStar{
    height: 1.1rem;
}

.unavailable {
    color: #9b9a9a;
}

a:visited {
    color: inherit;
}
@media screen and (max-width: 500px) {
    h1, h2 {
        font-size:2rem;
        font-family: 'Tommy-soft-regular';
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    
}