@import '../root.scss'; 
.listContainer {
    margin-left: $small-gutter;
    padding-bottom: 3rem;
    margin-right: 2rem;
    border-bottom: rgb(235, 235, 235) 1px solid;

}

.placeholder {
    background-color: #EDF3F7;
    color: transparent
}
@media screen and (max-width: 1020px) {
    .listContainer {
        min-width: 0;
        max-width: 1000px; // to cancel the max width above
        width: 90vw;
    }
}

@media screen and (max-width: 680px) {
    .listContainer {
margin: 0;
    }
}


