@import '../root.scss';

.footerContainer {
    background-color: rgb(241, 246, 255);
    border-top: 1px solid rgb(221,221,221);
    border-bottom: 1px solid rgb(221,221,221);
    
    padding: 1rem $large-gutter;
    font-size: $sml-font-size;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    & > :first-child {
        display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1300px;  
        width: 100%;
    }
}

.list1, .list2, .list3 {
    padding: 1rem;
    padding: 0 5vw;
    

  
}

.list2 {
    font-family: $text-light;
}
.list1, .list2 {
    & li:hover {
        text-decoration: underline;
}
}

.list3 {
    display: flex;
    flex-flow: column nowrap;
    
}
.footerLogo {
    width: 4rem;
    margin: 0.3rem 0 0 2.5rem;
}

@media screen and (max-width: 480px){
    

 .list2, .list3 {
  border-top: 1px solid rgb(221,221,221);

     }

}

