@import '../root.scss';

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    min-height: 21rem;
    height: calc(10rem + 15vw);
    position: relative;
    top: 0;
    left: 0;
}

.mainPic {
    flex: 1 1.5 33rem;
    overflow: hidden;
    display: flex;

    border-radius: 8px;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;

    }
}

.sidePic {
    flex: 1 1 20rem;
    margin-left: 1rem;
    max-width: 37rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    & :nth-child(2) {
        margin-top: 1rem;
    }
 
    img {
        height: 100%;
        min-height: 6rem;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        object-fit: cover;

    }
}
.btnWrapper {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: $sml-font-size;
    background-color: white;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    border: 1px solid rgb(64, 64, 64);
    transition: all 0.2s ease;
 &:hover {
    transform: scale(1.05);
 }
}


@media screen and (max-width: 900px) {
    .sidePic {
        display: none;
    }
}