.wrapper {
    min-height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    
}
.contentWrapper {
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(65, 65, 65, 0.212);
    border-radius: 8px;
    min-height: 10rem;
    margin: 0 0.5rem;
    margin-top: 10rem;

        h1{
        margin-top: 1rem;
    }
}

