.wrapper {
    min-height: 70vh;
    
    
}
.contentWrapper {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 1px 1px 10px rgba(65, 65, 65, 0.212);
    min-height: 10rem;
    margin: 5rem 0.5rem;
    border-radius: 8px;
    overflow: hidden;
        h2{
        margin-top: 1rem;
    }

}

.signIn, .signUp {
flex:  1 1 auto;
padding: 1rem 2rem;

}

.signUp {
    background-color: #0091FF;
    h2, p {color: white;}
    
}

@media screen and (max-width: 750px) {
    .contentWrapper {
        flex-flow: column nowrap;

    }
}
