@import '../root.scss';

.spotLink {
    text-decoration: none;
 
}
.spot {
    border-radius: 16px;
    margin:0 10px;
    overflow: hidden;
    box-shadow: rgba(206, 206, 206, 0.33) 0px 4px 8px !important;
margin-bottom: 30px;
max-width: 450px;
width: 30vw;
min-width: 300px;
cursor: pointer;
line-height: 1.5;
transition: all .2s ease-in-out;
}
.spot:hover {
    transform: scale(1.05);
}

.spotImg {
    width: 100%;
}
.description {
    display: flex;
    flex-flow: column nowrap;
        padding: 1rem;  
}
.cutText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.keyWordLevel {
    display: inline-flex;
    
}
.easy {
    color: rgb(0, 176, 80);
}
.medium {
    color: rgb(255, 192, 0);
}
.hard {
    color: rgb(0,112,192);
}

.rating{
    display: inline-flex;
}

.ratingStar{
    height: 1.1rem;
}
.ratingText {
    color: $secondary-text;
}
.unavailable {
    color: rgb(155, 154, 154);
}


@media screen and (max-width: 480px) {
    .spot {
       margin: 10px 0;
       min-width: 90vw;
    }
}