@import '../root.scss';

.spotLink {
    text-decoration: none;
 
}
.spot {
    border-radius: 16px;
    margin:0 10px;
    overflow: hidden;
    box-shadow: rgba(206, 206, 206, 0.33) 0px 4px 8px !important;
margin-bottom: 30px;
max-width: 450px;
width: 27vw;
min-width: 300px;
cursor: pointer;
line-height: 1.5;
transition: all .2s ease-in-out;

}
.spot:hover {
    transform: scale(1.05);
}

.spotImg {
    width: 100%;
    object-fit: cover;
    height: 15rem;

}
.description {
    display: flex;
    flex-flow: column nowrap;
        padding: 1rem;  
}
.cutText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.keyWordLevel {
    display: inline-flex;
    
}


.rating{
    display: inline-flex;
}


.ratingText {
    color: $secondary-text;
}



@media screen and (max-width: 550px) {
    .spot {
       margin: 10px 0;
       min-width: 90vw;
    }
}